body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #ba2e28;
  color: black;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
  background: #ba2e29;
}

button {
  padding: 20px 30px;
  border: none;
  background: blue;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}
